# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: Copyright (C) 2026 Riversoft Studios
*.o
*.gz
/LineKernel
.env
*.iso
*.img
*/iso
*.qcow2
docs/html
docs/man
.config
.config.old
/Kconfig
kconfig.h
kconfig.mk
tools/config2header
tools/config2makefile
