# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright (C) 2026 Riversoft Studios

mainmenu "LineKernel/{ARCH} {VERSION} Configuration"

source "kernel/Kconfig"

source "{ARCH}/Kconfig"
