# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright (C) 2026 Riversoft Studios

source "x86/Kconfig"

menu "Console"
    depends on CONSOLE

config SERIAL_CONSOLE
    bool "serial console"
    default y
    help
      Enable serial console?

config PS2_KEYBOARD
    bool "ps2 keyboard"
    default y
    help
      Enable PS/2 keyboard support?

endmenu
