# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright (C) 2026 Riversoft Studios

choice
    prompt "Machine"
    default VIRT_MACHINE
    help
      Choose your machine.

config VIRT_MACHINE
    bool "virtual machine"

endchoice
