# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright (C) 2026 Riversoft Studios

source "x86/Kconfig"

menu "Console"
    depends on CONSOLE

config VGA_CONSOLE
    bool "vga console"
    default y
    help
      Enable VGA console?

choice
    prompt "Cursor type"
    default CURSOR_SMALL
    help
      Choose how your cursor should look like.
    depends on VGA_CONSOLE

config CURSOR_SMALL
    bool "cursor at the bottom"

config CURSOR_FULL
    bool "cursor takes up full"

endchoice

config SERIAL_CONSOLE
    bool "serial console"
    default y
    help
      Enable serial console?

config PS2_KEYBOARD
    bool "ps2 keyboard"
    default y
    help
      Enable PS/2 keyboard support?

endmenu

menu "Storage"
    depends on DRIVE

config FLOPPY
    bool "floppy drive support"
    default y
    help
      Enable support for x86 Floppy Disk Controllers (FDC).

endmenu
